{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": [2, "safe"],
    "array-callback-return": 2,
    "no-console": [
      2,
      {
        "allow": ["error"]
      }
    ],
    "default-case": 2,
    "no-debugger": 2,
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "no-trailing-spaces": 2,
    "keyword-spacing": 2,
    "space-before-function-paren": [2, "never"],
    "spaced-comment": [2, "always"],
    "vars-on-top": 2,
    "comma-dangle": [2, "never"],
    "quotes": [2, "double"],
    "semi": 0,
    "no-mixed-operators": [
      2,
      {
        "groups": [["&", "|", "^", "~", "<<", ">>", ">>>"], ["&&", "||"]]
      }
    ],
    "guard-for-in": 2,
    "no-eval": 2,
    "no-with": 2,
    "valid-typeof": 2,
    "no-unused-vars": 2,
    "no-continue": 1,
    "no-extra-semi": 1,
    "no-unreachable": 1,
    "no-unused-expressions": 1,
    "no-magic-numbers": [1, { "ignore": [0, -1, 1] }],
    "max-len": [
      2,
      80,
      2,
      {
        "ignorePattern": "^(import .* from \"[^\"]*\";|const .* = require\\(\"[^\"]*\"\\);)$",
        "ignoreComments": true
      }
    ],
    "react/prefer-es6-class": 2,
    "react/jsx-sort-props": [2, { "ignoreCase": true }]
  },
  "plugins": ["react"],
  "globals": {
    "afterAll": true,
    "afterEach": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "gapi": true,
    "it": true,
    "jest": true,
    "test": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
