language: node_js
node_js:
  - "8"

branches:
  only:
    - master

before_install:
  - npm config set //registry.npmjs.org/:_authToken $NPM_API_KEY

install:
  - npm install

script:
  - npm run-script test
  - npm run-script build

after_success:
  - echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST TRAVIS_BRANCH=$TRAVIS_BRANCH"
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
      echo "deploy for upstream master merge";
      cd ./functions;
      pwd;
      npm install;
      npm install -g firebase-tools;
      bash ../scripts/firebase-deploy.sh;
      if [ "$?" != 0 ]; then
        echo "ERROR with deployment";
        return;
      else
        echo "======deployment done======";
      fi
    else
      echo "Pull Request only build and test";
      exit;
    fi
